{
    "environments": [
        "node",
        {
            "type": "selenium",
            "browserName": "firefox",
            "platform": "LINUX"
        },
        {
            "type": "selenium",
            "browserName": "chrome",
            "platform": "LINUX"
        }
    ]
}